apiVersion: apps/v1
kind: Deployment
metadata:
  name: distributed-computing
labels:
  app: distributed-computing
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: distributed-computing
        tier: distributed-computing
    spec:
      containers:
      - name: distributed-computing
        image: distributedcomputing/distributed-computing:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 5000
            name: distributed-computing

---
apiVersion: v1
kind: Service
metadata:
name: distributed-computing
labels:
  app: distributed-computing
spec:
ports:
  - port: 5000
    targetPort: 5000
selector:
  app: distributed-computing
  tier: distributed-computing
type: LoadBalancer